{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}
{% block title %}{{ page.title }}{% endblock %}

{% block extra_head %}
{% import 'translations.html' as translations with context %}
{% if translations.entry_hreflang(page) %}
  {{ translations.entry_hreflang(page) }}
{% endif %}
{% endblock %}

{% block content %}
<section id="content" class="body page">
    <h1 class="entry-title">{{ page.title }}</h1>
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(page) }}
    {{ page.content }}
</section>

<section class="section-title body" >
  <h2>aktívni riešitelia</h2>
</section>

<section class="body" style="margin-bottom:32px;">

  <div class="row g-3">
    <!-- PROFILE CARD -->
    <div class="col-6">
      <div class="card profile-card">
        <div class="card-body">

          <div class="row card-title"> <!-- PROFILE CARD HEADER -->
            <div class="col-2"><img src="{{ SITEURL }}/theme/images/profile_photos/chabada.jpg" alt="Avatar" class="avatar"></div>
            <div class="col-10">
              <h5>Prof. Mgr. Michal Chabada, PhD.</h5>
              <h6 class="card-subtitle mb-2 text-muted">zodpovedný riešiteľ</h6>
            </div>
          </div>

          <p class="card-text"> <!-- PROFILE CARD CONTENT --> 
            Vedúci projektu Michal Chabada je popredným slovenským odborníkom na
            dejiny a myšlienkové systémy stredovekej filozofie. V rámci projektu
            sa venuje jednak koncepcii prirodzenej normativity v rámci
            aristotelovského etického naturalizmu, a jednak vzťahu filozofie
            resp. vedy a supranaturalizmu v stredovekých i súčasných
            prístupoch. Ako zodpovedný riešiteľ zabezpečuje tiež celkové riadenie
            a organizáciu projektových činností.
          </p>

          <div class="card-footer"> <!-- PROFILE CARD FOOTER -->
            <div class="row">
              <div class="col-10">
                <span class="text-muted">
                  <span class="fa-solid fa-envelope"></span>
                  <b>michal.chabada@uniba.sk</b>
                </span>
              </div>
              <div class="col-2" style="text-align:right;">
                <span class="text-muted" >
                  <a href="https://fphil.uniba.sk/katedry-a-odborne-pracoviska/katedra-filozofie-a-dejin-filozofie/clenovia-katedry/prof-michal-chabada-phd/">
                    <span class="fa-solid fa-address-card"></span>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- PROFILE CARD -->
    <div class="col-6">
      <div class="card profile-card">
        <div class="card-body">

          <div class="row card-title"> <!-- PROFILE CARD HEADER -->
            <div class="col-2"><img src="{{ SITEURL }}/theme/images/profile_photos/plasienkova.gif" alt="Avatar" class="avatar"></div>
            <div class="col-10 pt-2">
              <h5>Prof. PhDr. Zlatica Plašienková, PhD.</h5>
            </div>
          </div>

          <p class="card-text"> <!-- PROFILE CARD CONTENT --> 
            Odbornosť Zlatice Plašienkovej sa dotýka širokého spektra problémov
            etiky a ekofilozofie. Jej hlavným zámerom v projekte je preskúmanie
            rozličných etických problémov v kontexte naturalizmu, jeho
            explanačných možností a limitov, pričom špeciálnu pozornosť venuje
            najmä otázke evolučného základu ľudskej morálky.
          </p>

          <div class="card-footer"> <!-- PROFILE CARD FOOTER -->
            <div class="row">
              <div class="col-10">
                <span class="text-muted">
                  <span class="fa-solid fa-envelope"></span>
                  <b>zlatica.plasienkova@uniba.sk</b>
                </span>
              </div>
              <div class="col-2" style="text-align:right;">
                <span class="text-muted" >
                  <a href="https://fphil.uniba.sk/katedry-a-odborne-pracoviska/katedra-filozofie-a-dejin-filozofie/clenovia-katedry/prof-phdr-zlatica-plasienkova-phd/">
                    <span class="fa-solid fa-address-card"></span>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- PROFILE CARD -->
    <div class="col-6">
      <div class="card profile-card">
        <div class="card-body">

          <div class="row card-title"> <!-- PROFILE CARD HEADER -->
            <div class="col-2"><img src="{{ SITEURL }}/theme/images/profile_photos/visnovsky.jpg" alt="Avatar" class="avatar"></div>
            <div class="col-10 pt-2">
              <h5>Prof. PhDr. Emil Višňovský, PhD.</h5>
            </div>
          </div>

          <p class="card-text"> <!-- PROFILE CARD CONTENT --> 
            Emil Višňovský je predovšetkým uznávaným znalcom pragmatistickej
            filozofie, na ktorú sa orientuje aj v rámci projektového výskumu.
            Jeho hlavnými témami sú ontologický vzťah prírody a kultúry,
            skúmanie pragmatistického naturalizmu, analýza pojmu človeka v
            jednote prírodného a kultúrneho bytia a prekonávanie dualizmu
            prírodných a sociohumanitných vied vo filozofii vedy.
          </p>

          <div class="card-footer"> <!-- PROFILE CARD FOOTER -->
            <div class="row">
              <div class="col-10">
                <span class="text-muted">
                  <span class="fa-solid fa-envelope"></span>
                  <b>emil.visnovsky@uniba.sk</b>
                </span>
              </div>
              <div class="col-2" style="text-align:right;">
                <span class="text-muted" >
                  <a href="https://fphil.uniba.sk/katedry-a-odborne-pracoviska/katedra-filozofie-a-dejin-filozofie/clenovia-katedry/prof-phdr-emil-visnovsky-phd/">
                    <span class="fa-solid fa-address-card"></span>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- PROFILE CARD -->
    <div class="col-6">
      <div class="card profile-card">
        <div class="card-body">

          <div class="row card-title"> <!-- PROFILE CARD HEADER -->
            <div class="col-2"><img src="{{ SITEURL }}/theme/images/profile_photos/buraj.gif" alt="Avatar" class="avatar"></div>
            <div class="col-10 pt-2">
              <h5>Doc. PhDr. Ivan Buraj, PhD.</h5>
            </div>
          </div>

          <p class="card-text"> <!-- PROFILE CARD CONTENT --> 
            Ivan Buraj sa dlhodobo zameriava na problémy sociálnej a politickej
            filozofie so špeciálnym akcentom na otázky moci. Projektový výskum
            obohatí analýzou vzťahu medzi biológiou človeka a jeho sociálnym
            životom z hľadiska ich možného prepojenia v koncepte tzv. biomoci.
          </p>

          <div class="card-footer"> <!-- PROFILE CARD FOOTER -->
            <div class="row">
              <div class="col-10">
                <span class="text-muted">
                  <span class="fa-solid fa-envelope"></span>
                  <b>ivan.buraj@uniba.sk</b>
                </span>
              </div>
              <div class="col-2" style="text-align:right;">
                <span class="text-muted" >
                  <a href="https://fphil.uniba.sk/katedry-a-odborne-pracoviska/katedra-filozofie-a-dejin-filozofie/clenovia-katedry/doc-phdr-ivan-buraj-phd/">
                    <span class="fa-solid fa-address-card"></span>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- PROFILE CARD -->
    <div class="col-6">
      <div class="card profile-card">
        <div class="card-body">

          <div class="row card-title"> <!-- PROFILE CARD HEADER -->
            <div class="col-2"><img src="{{ SITEURL }}/theme/images/profile_photos/lalikova.jpg" alt="Avatar" class="avatar"></div>
            <div class="col-10 pt-2">
              <h5>Doc. Mgr. Erika Lalíková, PhD.</h5>
            </div>
          </div>

          <p class="card-text"> <!-- PROFILE CARD CONTENT --> 
            Profesionálnou orientáciou Eriky Lalíkovej je skúmanie dejín
            slovenskej a českej filozofie. Aj v rámci nich sa vyskytujú
            naturalistické inšpirácie, ktorých analýza bude hlavným predmetom
            jej výskumu v dielach autorov ako sú I. Hrušovský, G. Vámoš, S. Štúr
            a ďalší.
          </p>

          <div class="card-footer"> <!-- PROFILE CARD FOOTER -->
            <div class="row">
              <div class="col-10">
                <span class="text-muted">
                  <span class="fa-solid fa-envelope"></span>
                  <b>erika.lalikova@uniba.sk</b>
                </span>
              </div>
              <div class="col-2" style="text-align:right;">
                <span class="text-muted" >
                  <a href="https://fphil.uniba.sk/katedry-a-odborne-pracoviska/katedra-filozofie-a-dejin-filozofie/clenovia-katedry/doc-erika-lalikova-phd/">
                    <span class="fa-solid fa-address-card"></span>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- PROFILE CARD -->
    <div class="col-6">
      <div class="card profile-card">
        <div class="card-body">

          <div class="row card-title"> <!-- PROFILE CARD HEADER -->
            <div class="col-2"><img src="{{ SITEURL }}/theme/images/profile_photos/szapuova.gif" alt="Avatar" class="avatar"></div>
            <div class="col-10 pt-2">
              <h5>Doc. PhDr. Mariana Szapuová, PhD.</h5>
            </div>
          </div>

          <p class="card-text"> <!-- PROFILE CARD CONTENT --> 
            Osobnosť Mariany Szapuovej je známa najmä podieľaním sa na formovaní
            feministickej filozofie na Slovensku a jej prepájaním s otázkami
            filozofie vedy. V rámci projektu sa špecializuje na feministickú
            epistemológiu s cieľom preskúmať najmä tie koncepcie naturalizovanej
            a socializovanej epistemológie, ktoré tematizujú sociokultúrny
            kontext tvorby poznania.
          </p>

          <div class="card-footer"> <!-- PROFILE CARD FOOTER -->
            <div class="row">
              <div class="col-10">
                <span class="text-muted">
                  <span class="fa-solid fa-envelope"></span>
                  <b>mariana.szapuova@uniba.sk</b>
                </span>
              </div>
              <div class="col-2" style="text-align:right;">
                <span class="text-muted" >
                  <a href="https://fphil.uniba.sk/katedry-a-odborne-pracoviska/katedra-filozofie-a-dejin-filozofie/clenovia-katedry/doc-phdr-mariana-szapuova-phd/">
                    <span class="fa-solid fa-address-card"></span>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- PROFILE CARD -->
    <div class="col-6">
      <div class="card profile-card">
        <div class="card-body">

          <div class="row card-title"> <!-- PROFILE CARD HEADER -->
            <div class="col-2"><img src="{{ SITEURL }}/theme/images/profile_photos/greif.jpg" alt="Avatar" class="avatar"></div>
            <div class="col-10 pt-2">
              <h5>Mgr. Adam Greif, PhD.</h5>
            </div>
          </div>

          <p class="card-text"> <!-- PROFILE CARD CONTENT --> 
            Adam Greif je zamestnancom projektu, ktorý okrem výskumných činností
            plní aj administratívne a organizačné úlohy. Na poli výskumu sa
            zameriava na naturalistické koncepcie v súčasnej metaetike, ktoré
            identifikujú morálne fakty s naturálnymi, resp. prírodnými faktami.
            Jeho cieľom je preskúmať možnosti, ale aj prípadné obmedzenia
            takýchto prístupov.
          </p>

          <div class="card-footer"> <!-- PROFILE CARD FOOTER -->
            <div class="row">
              <div class="col-10">
                <span class="text-muted">
                  <span class="fa-solid fa-envelope"></span>
                  <b>adam.greif@uniba.sk</b>
                </span>
              </div>
              <div class="col-2" style="text-align:right;">
                <span class="text-muted" >
                  <a href="https://fphil.uniba.sk/katedry-a-odborne-pracoviska/katedra-filozofie-a-dejin-filozofie/clenovia-katedry/mgr-adam-greif-phd/">
                    <span class="fa-solid fa-address-card"></span>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- PROFILE CARD -->
    <div class="col-6">
      <div class="card profile-card">
        <div class="card-body">

          <div class="row card-title"> <!-- PROFILE CARD HEADER -->
            <div class="col-2"><img src="{{ SITEURL }}/theme/images/profile_photos/maco.jpg" alt="Avatar" class="avatar"></div>
            <div class="col-10 pt-2">
              <h5>Mgr. Róbert Maco, PhD.</h5>
            </div>
          </div>

          <p class="card-text"> <!-- PROFILE CARD CONTENT --> 
            Rôznorodé tematické pole, ktoré je predmetom záujmu Róberta Maca,
            siaha od dejín modernej filozofie až po problematiku filozofie vedy.
            V rámci projektu venuje pozornosť skúmaniu naturalizmu ako
            metafilozofickej pozície, naturalistickým tendenciám v súčasnej
            filozofii vedy, ako aj kritike naturalizmu v dejinách filozofie 20.
            storočia.
          </p>

          <div class="card-footer"> <!-- PROFILE CARD FOOTER -->
            <div class="row">
              <div class="col-10">
                <span class="text-muted">
                  <span class="fa-solid fa-envelope"></span>
                  <b>robert.maco@uniba.sk</b>
                </span>
              </div>
              <div class="col-2" style="text-align:right;">
                <span class="text-muted" >
                  <a href="https://fphil.uniba.sk/katedry-a-odborne-pracoviska/katedra-filozofie-a-dejin-filozofie/clenovia-katedry/mgr-robert-maco-phd/">
                    <span class="fa-solid fa-address-card"></span>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
   </div>

    <!-- PROFILE CARD -->
    <div class="col-6">
      <div class="card profile-card">
        <div class="card-body">

          <div class="row card-title"> <!-- PROFILE CARD HEADER -->
            <div class="col-2"><img src="{{ SITEURL }}/theme/images/profile_photos/nuhlicek.jpg" alt="Avatar" class="avatar"></div>
            <div class="col-10">
              <h5>Mgr. Martin Nuhlíček, PhD.</h5>
              <h6 class="card-subtitle mb-2 text-muted">zástupca zodpovedného riešiteľa</h6>
            </div>
          </div>

          <p class="card-text"> <!-- PROFILE CARD CONTENT --> 
            Špecializáciou Martina Nuhlíčka sú otázky súčasnej analytickej
            epistemológie. V rámci projektového výskumu sa zameriava na
            naturalistické pozície v oblasti epistemológie, s dôrazom na
            problematiku epistemickej normativity. Na riešení projektu sa
            podieľa tiež administratívnymi a organizačnými činnosťami ako
            zástupca vedúceho projektu. 
          </p>

          <div class="card-footer"> <!-- PROFILE CARD FOOTER -->
            <div class="row">
              <div class="col-10">
                <span class="text-muted">
                  <span class="fa-solid fa-envelope"></span>
                  <b>martin.nuhlicek@uniba.sk</b>
                </span>
              </div>
              <div class="col-2" style="text-align:right;">
                <span class="text-muted" >
                  <a href="https://fphil.uniba.sk/katedry-a-odborne-pracoviska/katedra-filozofie-a-dejin-filozofie/clenovia-katedry/mgr-martin-nuhlicek-phd/">
                    <span class="fa-solid fa-address-card"></span>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
   </div>

    <!-- PROFILE CARD -->
    <div class="col-6">
      <div class="card profile-card">
        <div class="card-body">

          <div class="row card-title"> <!-- PROFILE CARD HEADER -->
            <div class="col-2"><img src="{{ SITEURL }}/theme/images/profile_photos/sklutova.jpg" alt="Avatar" class="avatar"></div>
            <div class="col-10 pt-2">
              <h5>Mgr. Katarína Sklutová</h5>
            </div>
          </div>

          <p class="card-text"> <!-- PROFILE CARD CONTENT --> 
            Odbornou špecializáciou Kataríny Sklutovej je filozofia mysle,
            ktorej sa venuje v rámci doktorandského štúdia pod vedením prof.
            Emila Višňovského. Do projektu nastúpila od 1. 1. 2021 a svoju
            pozornosť bude zameriavať na naturalistické koncepcie vedomia v
            súčasných filozofických diskusiách o ľudskej mysli.
          </p>

          <div class="card-footer"> <!-- PROFILE CARD FOOTER -->
            <div class="row">
              <div class="col-10">
                <span class="text-muted">
                  <span class="fa-solid fa-envelope"></span>
                  <b>katarina.sklutova@uniba.sk</b>
                </span>
              </div>
              <div class="col-2" style="text-align:right;">
                <span class="text-muted" >
                  <a href="https://fphil.uniba.sk/katedry-a-odborne-pracoviska/katedra-filozofie-a-dejin-filozofie/clenovia-katedry/mgr-katarina-sklutova/">
                    <span class="fa-solid fa-address-card"></span>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
   </div>
  </div>
</section>

<section class="section-title body" >
  <h2>minulí riešitelia</h2>
</section>

<section class="body" style="margin-bottom:32px;">
  <div class="row g-3">

    <!-- PROFILE CARD -->
    <div class="col-6">
      <div class="card profile-card">
        <div class="card-body">

          <h5>Mgr. Roman Hloch, PhD.</h5>

          <p class="card-text"> <!-- PROFILE CARD CONTENT --> 
            Roman Hloch sa odborne zameriava na dejiny antickej filozofie,
            predovšetkým na filozofiu Aristotela. Jeho témou v projekte, v rámci
            ktorého pôsobil od 1. 10. 2021 do 30. 9. 2022, bolo preskúmanie
            možných naturalistických implikácií v Aristotelovej etike z
            historickej perspektívy, ale tiež rôzne stanoviská súčasných
            neoaristotelovských teórií cností. V oboch prípadoch boli predmetom
            jeho skúmania metaetické a normatívne otázky.
          </p>

        </div>
      </div>
   </div>

   <!-- PROFILE CARD -->
   <div class="col-6">
     <div class="card profile-card">
       <div class="card-body">

         <h5>Mgr. Andrea Fábiková, PhD.</h5>

         <p class="card-text"> <!-- PROFILE CARD CONTENT --> 
           Vo svojej výskumnej činnosti v rámci projektu sa Andrea Fábiková
           zameriavala na objasnenie pozície evolučného naturalizmu.
           Tematizovala viaceré filozofické otázky na priesečníku poznania,
           mysle, jazyka, či morálky z evolučnej perspektívy, i v konfrontácii s
           kritikmi takéhoto prístupu. Na projekte pracovala od 1. 9. 2020 do
           31. 8. 2021.
         </p>

       </div>
     </div>
   </div>

   <!-- PROFILE CARD -->
   <div class="col-6">
     <div class="card profile-card">
       <div class="card-body">

         <h5>Mgr. Boris Slovinský</h5>

         <p class="card-text"> <!-- PROFILE CARD CONTENT --> 
           Boris Slovinský bol súčasťou riešiteľského kolektívu do 31. 8. 2020,
           počas svojho doktorandského štúdia pod vedením doc. Mariany
           Szapuovej. K riešeniu projektu prispel analýzou naturalistických a
           sociálno-konštruktivistických prístupov k problému miesta hodnôt vo
           vede.
         </p>

       </div>
     </div>
   </div>


  </div>
</section>
{% endblock %}
