{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}
{% block title %}{{ page.title }}{% endblock %}

{% block extra_head %}
{% import 'translations.html' as translations with context %}
{% if translations.entry_hreflang(page) %}
  {{ translations.entry_hreflang(page) }}
{% endif %}
{% endblock %}

{% block content %}
<section id="content" class="body page">
    <h1 class="entry-title">{{ page.title }}</h1>
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(page) }}
    {{ page.content }}
</section>

<section class="section-title body" >
  <h2>active researchers</h2>
</section>

<section class="body" style="margin-bottom:32px;">

  <div class="row g-3">
    <!-- PROFILE CARD -->
    <div class="col-6">
      <div class="card profile-card">
        <div class="card-body">

          <div class="row card-title"> <!-- PROFILE CARD HEADER -->
            <div class="col-2"><img src="{{ SITEURL }}/theme/images/profile_photos/chabada.jpg" alt="Avatar" class="avatar"></div>
            <div class="col-10">
              <h5>Prof. Mgr. Michal Chabada, PhD.</h5>
              <h6 class="card-subtitle mb-2 text-muted">Principal Investigator</h6>
            </div>
          </div>

          <p class="card-text">The principal investigator Michal Chabada is a prominent slovak scholar of the history and thought systems of medieval philosophy. In the project, he investigates the conceptions of natural normativity in the aristotelian ethical naturalism and the relationship between philosophy/science and supranaturalism in medieval and contemporary approaches. As the principal investigator he also provides the overall management and organization of project's activities.</p>

          <div class="card-footer"> <!-- PROFILE CARD FOOTER -->
            <div class="row">
              <div class="col-10">
                <span class="text-muted">
                  <span class="fa-solid fa-envelope"></span>
                  <b>michal.chabada@uniba.sk</b>
                </span>
              </div>
              <div class="col-2" style="text-align:right;">
                <span class="text-muted" >
                  <a href="https://fphil.uniba.sk/katedry-a-odborne-pracoviska/katedra-filozofie-a-dejin-filozofie/clenovia-katedry/prof-michal-chabada-phd/">
                    <span class="fa-solid fa-address-card"></span>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- PROFILE CARD -->
    <div class="col-6">
      <div class="card profile-card">
        <div class="card-body">

          <div class="row card-title"> <!-- PROFILE CARD HEADER -->
            <div class="col-2"><img src="{{ SITEURL }}/theme/images/profile_photos/plasienkova.gif" alt="Avatar" class="avatar"></div>
            <div class="col-10 pt-2">
              <h5>Prof. PhDr. Zlatica Plašienková, PhD.</h5>
            </div>
          </div>

          <p class="card-text">The expertise of Zlatica Pašienková covers a wide range of ethical and ecophilosophical problems. Her main aim in the project is to investigate various ethical problems arising in relation to naturalism, and naturalism's explanatory capabilities and limits. She is especially interested in the question of evolutionary basis of human morality.</p>

          <div class="card-footer"> <!-- PROFILE CARD FOOTER -->
            <div class="row">
              <div class="col-10">
                <span class="text-muted">
                  <span class="fa-solid fa-envelope"></span>
                  <b>zlatica.plasienkova@uniba.sk</b>
                </span>
              </div>
              <div class="col-2" style="text-align:right;">
                <span class="text-muted" >
                  <a href="https://fphil.uniba.sk/katedry-a-odborne-pracoviska/katedra-filozofie-a-dejin-filozofie/clenovia-katedry/prof-phdr-zlatica-plasienkova-phd/">
                    <span class="fa-solid fa-address-card"></span>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- PROFILE CARD -->
    <div class="col-6">
      <div class="card profile-card">
        <div class="card-body">

          <div class="row card-title"> <!-- PROFILE CARD HEADER -->
            <div class="col-2"><img src="{{ SITEURL }}/theme/images/profile_photos/visnovsky.jpg" alt="Avatar" class="avatar"></div>
            <div class="col-10 pt-2">
              <h5>Prof. PhDr. Emil Višňovský, PhD.</h5>
            </div>
          </div>

          <p class="card-text">Emil Višňovský is a recognized expert on philosophy of pragmatism, which is also the area he covers in this project. He is mainly interested in the ontological relationship between nature and culture, pragmatistic naturalism, the analysis of the concept of a human being as an unity of natural and cultural being, and in overcoming the dualism of natural and socio-humanistic sciences in the philosophy of science.</p>

          <div class="card-footer"> <!-- PROFILE CARD FOOTER -->
            <div class="row">
              <div class="col-10">
                <span class="text-muted">
                  <span class="fa-solid fa-envelope"></span>
                  <b>emil.visnovsky@uniba.sk</b>
                </span>
              </div>
              <div class="col-2" style="text-align:right;">
                <span class="text-muted" >
                  <a href="https://fphil.uniba.sk/katedry-a-odborne-pracoviska/katedra-filozofie-a-dejin-filozofie/clenovia-katedry/prof-phdr-emil-visnovsky-phd/">
                    <span class="fa-solid fa-address-card"></span>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- PROFILE CARD -->
    <div class="col-6">
      <div class="card profile-card">
        <div class="card-body">

          <div class="row card-title"> <!-- PROFILE CARD HEADER -->
            <div class="col-2"><img src="{{ SITEURL }}/theme/images/profile_photos/buraj.gif" alt="Avatar" class="avatar"></div>
            <div class="col-10 pt-2">
              <h5>Doc. PhDr. Ivan Buraj, PhD.</h5>
            </div>
          </div>

          <p class="card-text">Ivan Buraj specializes in problems of social and political philosophy, with special interest in questions of power. In this project, he will examine the relationship between human biology and social life, as well as their possible interconnection in the concept of biopower.</p>

          <div class="card-footer"> <!-- PROFILE CARD FOOTER -->
            <div class="row">
              <div class="col-10">
                <span class="text-muted">
                  <span class="fa-solid fa-envelope"></span>
                  <b>ivan.buraj@uniba.sk</b>
                </span>
              </div>
              <div class="col-2" style="text-align:right;">
                <span class="text-muted" >
                  <a href="https://fphil.uniba.sk/katedry-a-odborne-pracoviska/katedra-filozofie-a-dejin-filozofie/clenovia-katedry/doc-phdr-ivan-buraj-phd/">
                    <span class="fa-solid fa-address-card"></span>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- PROFILE CARD -->
    <div class="col-6">
      <div class="card profile-card">
        <div class="card-body">

          <div class="row card-title"> <!-- PROFILE CARD HEADER -->
            <div class="col-2"><img src="{{ SITEURL }}/theme/images/profile_photos/lalikova.jpg" alt="Avatar" class="avatar"></div>
            <div class="col-10 pt-2">
              <h5>Doc. Mgr. Erika Lalíková, PhD.</h5>
            </div>
          </div>

          <p class="card-text">Erika Lalíková specializes in history of Slovak and Czech philosophy in which naturalism was a distinct current alongside neo-positivism, realism, and neo-Thomism. She will focus on works of I. Hrušovský, G. Vámoš, S. Štúr, and others.</p>

          <div class="card-footer"> <!-- PROFILE CARD FOOTER -->
            <div class="row">
              <div class="col-10">
                <span class="text-muted">
                  <span class="fa-solid fa-envelope"></span>
                  <b>erika.lalikova@uniba.sk</b>
                </span>
              </div>
              <div class="col-2" style="text-align:right;">
                <span class="text-muted" >
                  <a href="https://fphil.uniba.sk/katedry-a-odborne-pracoviska/katedra-filozofie-a-dejin-filozofie/clenovia-katedry/doc-erika-lalikova-phd/">
                    <span class="fa-solid fa-address-card"></span>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- PROFILE CARD -->
    <div class="col-6">
      <div class="card profile-card">
        <div class="card-body">

          <div class="row card-title"> <!-- PROFILE CARD HEADER -->
            <div class="col-2"><img src="{{ SITEURL }}/theme/images/profile_photos/szapuova.gif" alt="Avatar" class="avatar"></div>
            <div class="col-10 pt-2">
              <h5>Doc. PhDr. Mariana Szapuová, PhD.</h5>
            </div>
          </div>

          <p class="card-text">Mariana Szapuová is most known for her involvement in and forming of feminist philosophy in Slovakia, and for her efforts to introduce a feminist perspective to philosophy of science. Her research in the project is focused on feminist epistemology, with the aim to investigate primarily those forms of naturalized and social epistemology which deal with the socio-cultural context of knowledge production.</p>

          <div class="card-footer"> <!-- PROFILE CARD FOOTER -->
            <div class="row">
              <div class="col-10">
                <span class="text-muted">
                  <span class="fa-solid fa-envelope"></span>
                  <b>mariana.szapuova@uniba.sk</b>
                </span>
              </div>
              <div class="col-2" style="text-align:right;">
                <span class="text-muted" >
                  <a href="https://fphil.uniba.sk/katedry-a-odborne-pracoviska/katedra-filozofie-a-dejin-filozofie/clenovia-katedry/doc-phdr-mariana-szapuova-phd/">
                    <span class="fa-solid fa-address-card"></span>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- PROFILE CARD -->
    <div class="col-6">
      <div class="card profile-card">
        <div class="card-body">

          <div class="row card-title"> <!-- PROFILE CARD HEADER -->
            <div class="col-2"><img src="{{ SITEURL }}/theme/images/profile_photos/greif.jpg" alt="Avatar" class="avatar"></div>
            <div class="col-10 pt-2">
              <h5>Mgr. Adam Greif, PhD.</h5>
            </div>
          </div>

          <p class="card-text">In addition to his role as a researcher, Adam Greif performs various administrative and organizational functions in the project. As a researcher, he focuses on naturalistic conceptions in contemporary metaethics that claim that all moral facts are natural ones. His aim is to investigate the possibilities and limits of these approaches.</p>

          <div class="card-footer"> <!-- PROFILE CARD FOOTER -->
            <div class="row">
              <div class="col-10">
                <span class="text-muted">
                  <span class="fa-solid fa-envelope"></span>
                  <b>adam.greif@uniba.sk</b>
                </span>
              </div>
              <div class="col-2" style="text-align:right;">
                <span class="text-muted" >
                  <a href="https://fphil.uniba.sk/katedry-a-odborne-pracoviska/katedra-filozofie-a-dejin-filozofie/clenovia-katedry/mgr-adam-greif-phd/">
                    <span class="fa-solid fa-address-card"></span>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- PROFILE CARD -->
    <div class="col-6">
      <div class="card profile-card">
        <div class="card-body">

          <div class="row card-title"> <!-- PROFILE CARD HEADER -->
            <div class="col-2"><img src="{{ SITEURL }}/theme/images/profile_photos/maco.jpg" alt="Avatar" class="avatar"></div>
            <div class="col-10 pt-2">
              <h5>Mgr. Róbert Maco, PhD.</h5>
            </div>
          </div>

          <p class="card-text">Heterogenous interests of Róbert Maco cover wide area of diverse topics, such as the history of modern philosophy, the philosophy of science or the philosophy of mathematics. In the project, he is interested in investigating naturalism as a metaphilosophical position, naturalistic tendencies in contemporary philosophy of science, and critiques of naturalism in the history of 20th century philosophy.</p>

          <div class="card-footer"> <!-- PROFILE CARD FOOTER -->
            <div class="row">
              <div class="col-10">
                <span class="text-muted">
                  <span class="fa-solid fa-envelope"></span>
                  <b>robert.maco@uniba.sk</b>
                </span>
              </div>
              <div class="col-2" style="text-align:right;">
                <span class="text-muted" >
                  <a href="https://fphil.uniba.sk/katedry-a-odborne-pracoviska/katedra-filozofie-a-dejin-filozofie/clenovia-katedry/mgr-robert-maco-phd/">
                    <span class="fa-solid fa-address-card"></span>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
   </div>

    <!-- PROFILE CARD -->
    <div class="col-6">
      <div class="card profile-card">
        <div class="card-body">

          <div class="row card-title"> <!-- PROFILE CARD HEADER -->
            <div class="col-2"><img src="{{ SITEURL }}/theme/images/profile_photos/nuhlicek.jpg" alt="Avatar" class="avatar"></div>
            <div class="col-10">
              <h5>Mgr. Martin Nuhlíček, PhD.</h5>
              <h6 class="card-subtitle mb-2 text-muted">deputy of principal investigator</h6>
            </div>
          </div>

          <p class="card-text">Martin Nuhlíček focuses on questions of contemporary, mainly analytic epistemology. Within this project, he is interested in naturalistic positions in epistemology, with emphasis given to problems related to epistemic normativity. He also performs various administrative and organizational roles in the project as the principal investigator's deputy.</p>

          <div class="card-footer"> <!-- PROFILE CARD FOOTER -->
            <div class="row">
              <div class="col-10">
                <span class="text-muted">
                  <span class="fa-solid fa-envelope"></span>
                  <b>martin.nuhlicek@uniba.sk</b>
                </span>
              </div>
              <div class="col-2" style="text-align:right;">
                <span class="text-muted" >
                  <a href="https://fphil.uniba.sk/katedry-a-odborne-pracoviska/katedra-filozofie-a-dejin-filozofie/clenovia-katedry/mgr-martin-nuhlicek-phd/">
                    <span class="fa-solid fa-address-card"></span>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
   </div>

    <!-- PROFILE CARD -->
    <div class="col-6">
      <div class="card profile-card">
        <div class="card-body">

          <div class="row card-title"> <!-- PROFILE CARD HEADER -->
            <div class="col-2"><img src="{{ SITEURL }}/theme/images/profile_photos/sklutova.jpg" alt="Avatar" class="avatar"></div>
            <div class="col-10 pt-2">
              <h5>Mgr. Katarína Sklutová</h5>
            </div>
          </div>

          <p class="card-text">Katarina Sklutova is a doctoral student supervised by prof. Emil Višňovský. She specializes in the area of the philosophy of mind. She became a member of our tema on the september 2020 and will focus on the naturalistic conceptions of consciousness in contemporary discussions about human mind.</p>

          <div class="card-footer"> <!-- PROFILE CARD FOOTER -->
            <div class="row">
              <div class="col-10">
                <span class="text-muted">
                  <span class="fa-solid fa-envelope"></span>
                  <b>katarina.sklutova@uniba.sk</b>
                </span>
              </div>
              <div class="col-2" style="text-align:right;">
                <span class="text-muted" >
                  <a href="https://fphil.uniba.sk/katedry-a-odborne-pracoviska/katedra-filozofie-a-dejin-filozofie/clenovia-katedry/mgr-katarina-sklutova/">
                    <span class="fa-solid fa-address-card"></span>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
   </div>
  </div>
</section>

<section class="section-title body" >
  <h2>past researchers</h2>
</section>

<section class="body" style="margin-bottom:32px;">
  <div class="row g-3">

    <!-- PROFILE CARD -->
    <div class="col-6">
      <div class="card profile-card">
        <div class="card-body">

          <h5>Mgr. Roman Hloch, PhD.</h5>

          <p class="card-text">The area of expertise of Roman Hloch is in the history of the philosophy of anitiquity, especially the philosophy of Aristotle. He was a member of our team from 1.10.2021 to 30.9.2022 and he dedicated his efforts to the exploration of possible naturalistic implications in Aristotelian ethics from the historical point of view, as well as of variety positions in contemporary neoaristotelian virtue theories. In these investigations, he was interested in metaethical and normative questions.</p>

        </div>
      </div>
   </div>

   <!-- PROFILE CARD -->
   <div class="col-6">
     <div class="card profile-card">
       <div class="card-body">

         <h5>Mgr. Andrea Fábiková, PhD.</h5>

         <p class="card-text">The research of Andrea Fabikova was directed towards the clarification of theoretical position of evolutionary naturalism. Her aim was to develop philosophical positions related to cogntion, language or morals informed by evolutionary perspective in confrontation with critics of this kind of approach. She was a member of our team from 1. 9. 2020 to 31. 8. 2021.</p>

       </div>
     </div>
   </div>

   <!-- PROFILE CARD -->
   <div class="col-6">
     <div class="card profile-card">
       <div class="card-body">

         <h5>Mgr. Boris Slovinský</h5>

         <p class="card-text">Boris Slovinský was a member of our team from 31. 8. 2020, while under the supervision of doc. Mariana Szapuová. His contribution to the project was an analysis of naturalistic and socio-constructivist approaches to the problem of role of values in the science.</p>

       </div>
     </div>
   </div>


  </div>
</section>
{% endblock %}
