<div class="card profile-card">
  <div class="card-body">
    <h5 class="card-title">Prof. Mgr. Michal Chabada, PhD.</h5>
    <h6 class="card-subtitle mb-2 text-muted">zodpovedný riešiteľ</h6>
    <p class="card-text">
      Vedúci projektu Michal Chabada je popredným slovenským odborníkom na
      dejiny a myšlienkové systémy stredovekej filozofie. V rámci projektu
      sa venuje jednak koncepcii prirodzenej normativity v rámci
      aristotelovského etického naturalizmu, a jednak vzťahu filozofie
      resp. vedy a supranaturalizmu v stredovekých i súčasných
      prístupoch. Ako zodpovedný riešiteľ zabezpečuje tiež celkové riadenie
      a organizáciu projektových činností.
    </p>
    <div class="card-footer">
      <div class="row">
        <div class="col-10">
          <small class="text-muted">
            <span class="fa-solid fa-envelope"></span>
            <b>michal.chabada@uniba.sk</b>
          </small>
        </div>
        <div class="col-2" style="text-align:right;">
          <small class="text-muted" >
            <a href="https://fphil.uniba.sk/katedry-a-odborne-pracoviska/katedra-filozofie-a-dejin-filozofie/clenovia-katedry/prof-michal-chabada-phd/">
              <span class="fa-solid fa-address-card"></span>
            </a>
          </small>
        </div>
      </div>
    </div>
  </div>
</div>
